@model OdeToFood.ViewModels.HomeIndexViewModel

@{ 
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
                    <a asp-page="/Restaurants/Edit" asp-route-id="@restaurant.Id">Edit</a>
                </td>
            </tr>
        }
        <a asp-action="Create">Create restaurant</a>

   @section footer {
        @Model.CurrentMessage
   }